
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration-color: none;
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
  background-color: #101010;
	overflow-x: hidden
}

#root{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.App{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content{
    height: 100%;
    width: 100%;
}

.forms{
  display: flex;
  flex-direction: column;
  width: 100%;
	background-image: url('./static/military_3d_printers-wallpaper-1920x1200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#login{
    height: 100vh;
    min-height: 600px;
}

#register{
	height: 100vh;
    min-height: 750px;
}

table{
	padding-bottom: 15px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1d1e22;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #1d1e22;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #585858;
}

#chart {
    height: 700px;
    padding: 20px 0;   
}

.card  {
  margin: 10px;
  background-color: #161414 !important;
  color: #ffffff !important;
  height: 340px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 85%;
    max-height: 250px;
    padding: 10px 0;
  }
  
  .circle-bg {
    fill: none;
    stroke: #3a3a3a;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 4s linear 0.5s ;
  }

  .single-chart{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
  }

  .SingleChartTitle{
    color: #fff !important;
    letter-spacing: 4px !important;
    margin: 30px 10px !important;
    text-transform: uppercase;
    font-size: 14px !important;
  }

  .Card_item{
    width: 250px !important;
    margin: 40px 30px !important;
    text-align: center;
  }

  .dash_page{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }

  .ratios, .countDown{
    display: block;
    width: 90%;
    margin: 40px auto;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.green .circle {
    stroke: #31c01f;
  }

  .circular-chart.red .circle {
    stroke: #cf1818;
  }

  .circular-chart.yellow .circle {
    stroke: #d9e316;
  }

  .circular-chart.blue .circle {
    stroke: #2196f3;
  }
  
  .percentage {
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
  }

  .percentage.green{
    fill: #31c01f;
  }

  .percentage.red{
    fill: #cf1818;
  }

  .percentage.yellow{
    fill: #d9e316;
  }

  .percentage.blue{
    fill: #2196f3;
  }

  .timer_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .machine_timer{
    display: block;
    margin: 40px auto;
    width: 30%;
    min-width: 250px;
  }

 
  .machines_timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  #Timer{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }


  .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    min-height: 90px;
    flex-wrap: wrap;

    ul {
      list-style: none
    }

    ul.flip {
      position: relative;
      float: left;
      margin: 5px;
      width: 35px;
      height: 60px;
      font-size: 60px;
      font-weight: bold;
      line-height: 65px;
      border-radius: 6px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
  }
  
  ul.flip li {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  
  }
  
  ul.flip li:first-child {
      z-index: 2;
  }
  
  ul.flip li .a_tag {
      display: block;
      height: 100%;
      perspective: 200px;
  }
  
  ul.flip li .a_tag div {
      z-index: 1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      overflow: hidden;
  }
  
  ul.flip li .a_tag div .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
  }
  
  ul.flip li .a_tag div.up {
      transform-origin: 50% 100%;
      top: 0;
  }
  
  ul.flip li .a_tag div.up:after {
    content: "";
    position:absolute;
    top:44px;
    left:0;
    z-index: 5;
    width: 100%;
    height: 3px;
    background-color: rgba(0,0,0,.4);
  }
  
  ul.flip li .a_tag div.down {
      transform-origin: 50% 0%;
      bottom: 0;
  }
  
  ul.flip li .a_tag div div.inn {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 200%;
      color: #ccc;
      text-shadow: 0 1px 2px #000;
      text-align: center;
      background-color: #333;
      border-radius: 6px;
  }
  
  ul.flip li .a_tag div.up div.inn {
      top: 0;
  
  }
  
  ul.flip li .a_tag div.down div.inn {
      bottom: 0;
  }
}

.Timer_container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.TimerPartName{
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  margin: 10px 0;
  font-family: monospace;
}



//play

#Timer.play ul li.before {
  z-index: 3;
}

#Timer.play ul li.active {
  animation: asd .5s .5s linear both;
  z-index: 2;
}

@keyframes asd {
  0% {
      z-index: 2;
  }
  5% {
      z-index: 4;
  }
  100% {
      z-index: 4;
  }
}

#Timer.play ul li.active .down {
  z-index: 2;
  animation: turn .5s .5s linear both;
}

.Number_countdown{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

@keyframes turn {
  0% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}

#Timer.play ul li.before .up {
  z-index: 2;
  animation: turn2 .5s linear both;
}

@keyframes turn2 {
  0% {
      transform: rotateX(0deg);
  }
  100% {
      transform: rotateX(-90deg);
  }
}

.CR_Container{
  text-align: center;
}

.tableCell{
  font-size: 16px !important;
  letter-spacing: 4px !important;
  padding: 12px 40px !important;
  p{
    margin: 10px 0 !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    letter-spacing: 2px !important;
  }
}

